@media (min-width: 1700px) {
    .padded-section {
        padding: 60px 120px;
    }
    .content-wrapper {
        width: 40%;
    }
    .image-sidebar {
        width: 60%;
    }
    .cta-section {
        width: 40%;
    }
}

@media (max-width: 1700px) {
    .content-wrapper {
        width: 40%;
    }
    .image-sidebar {
        width: 60%;
    }
    .cta-section {
        width: 40%;
    }
    .intro-title {
        font-size: 5rem;
    }
    .intro-subtitle {
        font-size: 1.4rem;
    }
}

@media (max-width: 1300px) {
    .content-wrapper {
        width: 50%;
    }
    .image-sidebar {
        width: 50%;
    }
    .cta-section {
        width: 50%;
    }
    .intro-title {
        font-size: 4rem;
    }
    .intro-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    .padded-section {
        padding: 40px;
    }
}

@media (max-width: 880px) {
    .padded-section {
        padding: 40px 160px;
        text-align: justify;
    }
    .content-wrapper {
        width: 100%;
        background: #fff;
        margin-bottom: 54px;
    }
    .image-sidebar {
        display: none;
    }
    .cta-section {
        width: 100%;
        .button {
            margin: 12px 36px;
            padding: 6px;
        }
    }
    .brands {
        .brands__img-wrapper {
            margin: 0 10px;
            flex: 1;
        }
    }
}

@media (max-width: 680px) {
    .padded-section {
        padding: 40px 80px;
    }
    .cta-section {
        .button {
            margin: 10px;
            width: 80%;
        }
    }
}

@media (max-width: 540px) {
    .padded-section {
        padding: 20px;
    }
    .intro-title {
        font-size: 3rem;
    }
    .intro-subtitle {
        font-size: 1rem;
    }
    .projects li {
        .project__header {
            flex-direction: column;
            .project__year {
                flex: 0;
                padding: 10px 0;
            }
        }
        .project__tags {
            padding: 0;
        }
    }
    .balloons-wrapper {
        .balloons-wrapper__balloon-label {
            font-size: 1rem;
        }
    }
}